* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    background-color: lightgrey;
    border-radius: 4px;
}

nav {
    background-color: silver;
    border-color: black;
    border-radius: 5px;
}

/*.putid {
    position: relative;
    left: 61px;
} 
This alligns the text box but it's sloppy and it's changing later anyway when placeholders update
Could instead make every single input align to the right instead, then offset it massively so that it's on the left but the boxes line up 
*/